.contacts {
    @include adaptiveValue("margin-bottom", 60, 20);
    // .contacts__container
    &__container {
        display: grid;
        gap: rem(16);

        border: 0;
        background-color: transparent;
        padding: 0 !important;

        @media (min-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    // .contacts__item
    &__item {
        display: flex;
        flex-direction: column;

        @include adaptiveValue("padding", 40, 24);
        background-color: $bgSection;
        border: 1px solid rgba(53, 72, 110, 0.3);
        border-radius: 24px;

        &:last-child {
            .item-contacts__method {
                background: rgba($bgAction, 0.6);
                border: 1px solid rgba($bgAction, 0.6);
                transition: background 0.2s ease-out;

                @media (any-hover: hover) {
                    &:hover {
                        background: rgba(53, 72, 110, 0.7);
                    }
                }
            }
        }
    }
}
.item-contacts {
    // .item-contacts__title
    &__title {
        margin-bottom: rem(16);
        @extend %h3-mobile;
    }
    // .item-contacts__subtitle
    &__subtitle {
        @include adaptiveValue("margin-bottom", 40, 24);
        @extend %description-l-mobile;
        color: $secondaryColor;
    }
    // .item-contacts__list
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(16);
        @include adaptiveValue("gap", 16, 8);
        margin-top: auto;
    }
    // .item-contacts__method
    &__method {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(16);

        @include adaptiveValue("padding", 30, 20);

        height: rem(170);

        background: rgba($bgAction, 0.1);
        border: 1px solid rgba($bgAction, 0.2);
        border-radius: 16px;
    }
}
