.contacts {
    margin-bottom: rem(60);
    // .contacts__container
    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(16);

        border: 0;
        background-color: transparent;
        padding: 0;
    }
    // .contacts__item
    &__item {
        display: flex;
        flex-direction: column;

        padding: rem(40);
        background-color: $bgSection;
        border: 1px solid rgba(53, 72, 110, 0.3);
        border-radius: 24px;

        &:last-child {
            .item-contacts__method {
                background: rgba(53, 72, 110, 0.4);
                transition: background 0.2s ease-out;

                @media (any-hover: hover) {
                    &:hover {
                        background: rgba(53, 72, 110, 0.6);
                    }
                }
            }
        }
    }
}
.item-contacts {
    // .item-contacts__title
    &__title {
        margin-bottom: rem(16);
        @extend %h3-mobile;
    }
    // .item-contacts__subtitle
    &__subtitle {
        margin-bottom: rem(40);
        @extend %description-l-mobile;
        color: $secondaryColor;
    }
    // .item-contacts__list
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(16);
        margin-top: auto;
    }
    // .item-contacts__method
    &__method {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(16);

        padding: rem(30);

        height: rem(170);

        background: rgba(53, 72, 110, 0.1);
        border: 1px solid rgba(53, 72, 110, 0.6);
        border-radius: 16px;
    }
}
