.intro {
    @include adaptiveValue("margin-top", 40, 8, 0, 1110, 390);
    padding: 0 rem(15);

    @media (min-width: $mobile) {
        padding: 0;
    }
    // .intro__container
    &__container {
        padding: 0;
        background-color: transparent;
        border-radius: 0;
        border: 0;
        position: relative;
    }
    // .intro__slider
    &__slider {
        margin-bottom: rem(16);

        @media (min-width: $mobile) {
            margin-bottom: 0;
        }
    }
    // .intro__wrapper
    &__wrapper {
    }
    // .intro__slide
    &__slide {
        padding: rem(24);
        background-color: $bgSection;
        height: rem(532);
        border-radius: 24px;
        border: 1px solid rgba(53, 72, 110, 0.3);
        overflow: hidden;

        @media (min-width: $mobile) {
            padding: rem(40);
            height: rem(566);
        }
    }

    // .intro__actions
    &__actions {
        display: flex;
        gap: rem(8);
        margin-top: auto;

        .mp {
            bottom: 100%;
            left: 0;
        }

        @media (min-width: $mobile) {
            position: absolute;
            left: rem(40);
            bottom: rem(40);
            z-index: 2;
        }
    }
}
.slide-intro {
    // .slide-intro__content
    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        z-index: 3;
    }
    // .slide-intro__title
    &__title {
        margin-bottom: rem(40);
        @include adaptiveValue("margin-bottom", 40, 16);
        @extend %h0;
        color: #fff;
    }
    // .slide-intro__subtitle
    &__subtitle {
        @extend %description-l;
    }
    // .slide-intro__image-ibg
    &__image-ibg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            background: rgba(17, 31, 65, 0.4);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: bottom right;
        }
    }
}
