// Заголовки, загальні БЕМ блоки та інше...

section {
    margin-bottom: rem(20);
}

.up {
    display: none;
    .touch & {
        display: block;
        background-color: $yellow;

        position: fixed;
        left: rem(24);
        bottom: rem(24);
        z-index: -1;
        opacity: 0;

        border-radius: 50%;
        transition: opacity 0.2s ease-out;
    }

    &.show {
        opacity: 1;
        z-index: 40;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(48);
        height: rem(48);
    }

    svg {
        width: rem(24);
        height: rem(24);
    }
}
