//====================================================================================================
.footer {
    padding: rem(32) rem(24);
    background: #000d2e;
    box-shadow: 0px -10px 50px rgba(0, 6, 20, 0.6);

    @media (min-width: $mobile) {
        padding: rem(50);
    }

    // .footer__container
    &__container {
        padding: 0;
        background-color: transparent;
        border: 0;

        /* @media (max-width: $mobile) {
            margin: 0;
        } */
    }
    // .footer__top
    &__top {
        margin-bottom: rem(23);

        @media (min-width: $mobile) {
            @include gridCards("fit", rem(150), 1fr);
        }

        @media (min-width: $tablet) {
            @include gridCards("fit", rem(300), 1fr);
        }
    }
    // .footer__bottom
    &__bottom {
        display: flex;
        justify-content: space-between;
        gap: rem(30);
    }
}
.top-footer {
    // .top-footer__left
    &__left {
    }
    // .top-footer__requisites
    &__requisites {
        margin-bottom: rem(12);
        font-weight: 700;

        p {
            text-align: center;
            line-height: math.div(22, 14);
            font-size: rem(16);

            @media (min-width: $mobile) {
                font-size: rem(14);
                text-align: left;
            }
        }

        @media (min-width: $mobile) {
            margin-bottom: rem(22);
        }
    }
    // .top-footer__bottom
    &__bottom {
        margin-bottom: rem(48);
        color: $secondaryColor;
        font-size: rem(16);

        p {
            text-align: center;

            &:not(:last-child) {
                margin-bottom: rem(12);

                @media (min-width: $mobile) {
                    margin-bottom: rem(6);
                }
            }

            @media (min-width: $mobile) {
                margin-bottom: 0;
                text-align: left;
                font-size: rem(14);
            }
        }
    }
    // .top-footer__center
    &__center {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        a {
            white-space: nowrap;
            &:first-child {
                font-weight: 900;
                font-size: rem(24);

                @media (min-width: $mobile) {
                    font-weight: 700;
                }
            }

            &:last-child {
                font-size: rem(24);
                color: $secondaryColor;

                @media (min-width: $mobile) {
                    font-size: rem(20);
                }
            }
        }
    }
    // .top-footer__right
    &__right {
        text-align: right;
    }
}
.right-top-footer {
    // .right-top-footer__logo
    &__logo {
        display: none;
        @media (min-width: $tablet) {
            display: block;
            margin-bottom: rem(38);
        }
    }
    // .right-top-footer__design
    &__design {
        transition: color 0.2s ease-out;
        @media (any-hover: hover) {
            &:hover {
                color: darken($secondaryColor, $amount: 10);
            }
        }
    }
}
.bottom-footer {
    // .bottom-footer__social
    &__social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: rem(16);
        margin: 0 auto;

        a {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: rem(6);

            flex: 0 0 rem(32);
            width: rem(32);
            height: rem(32);

            background-color: #415887;
            border-radius: 8px;

            fill: #fff;
            transition: background 0.2s ease-out;

            @media (any-hover: hover) {
                &:hover {
                    background-color: #35486e;
                }
            }

            &:last-child {
                @media (max-width: $mobile) {
                    padding: 0;
                    background-color: transparent;
                    flex: 0 0 100%;
                }
            }
        }

        @media (min-width: $mobile) {
            flex-wrap: nowrap;
            margin: 0;
        }
    }
    // .bottom-footer__mp
    &__mp {
        display: none;
        @media (min-width: $mobile) {
            display: flex;
            gap: rem(8);

            a {
                img {
                    -webkit-filter: brightness(100%);
                }
                @media (any-hover: hover) {
                    &:hover {
                        img {
                            -webkit-filter: brightness(70%);
                            transition: all 0.2s ease-out;
                        }
                    }
                }
            }
        }
    }
}
